
.aws-btn {
   --slider-height-percentage: 30%;
   --slider-transition-duration: 575ms;
   --organic-arrow-thickness: 4px;
   --organic-arrow-border-radius: 0px;
   --organic-arrow-height: 40px;
   --organic-arrow-color: #6a6a6a;
   --control-button-width: 10%;
   --control-button-height: 25%;
   --control-button-background: transparent;
   --control-bullet-color: #6a6a6a;
   --control-bullet-active-color: #6a6a6a;
   --loader-bar-color: #851515;
   --loader-bar-height: 6px;
   }