.circle1
{
   height: 9rem;
   width: 9rem;
   border-radius: 5rem;
   border: .1rem solid black;
   margin-left: 5rem;
   background: gray;

}

.circle2
{
   height: 9rem;
   width: 9rem;
   border-radius: 5rem;
   border: .1rem solid black;
   margin-left: 3rem;
   background: gray;
   margin-top: 10rem;
}

.circle3
{
   height: 9rem;
   width: 9rem;
   border-radius: 5rem;
   border: .1rem solid black;
   margin-left: 3rem;
   background: gray;

}

.circle4
{
   height: 9rem;
   width: 9rem;
   border-radius: 5rem;
   border: .1rem solid black;
   background: gray;
   margin-left: 3rem;
   margin-top: 10rem;
}

.circle5
{
   height: 9rem;
   width: 9rem;
   border-radius: 5rem;
   border: .1rem solid black;
   background: gray;
   margin-left: 3rem;
}

.circle6
{
   height: 9rem;
   width: 9rem;
   border-radius: 5rem;
   border: .1rem solid black;
   background: gray;
   margin-left: 3rem;
   margin-top: 10rem;
}

.circle7
{
   height: 9rem;
   width: 9rem;
   border-radius: 5rem;
   border: .1rem solid black;
   background: gray;
   margin-left: 3rem;
}

.circle8
{
   height: 9rem;
   width: 9rem;
   border-radius: 5rem;
   border: .1rem solid black;
   background: gray;
   margin-left: 3rem;
   margin-top: 10rem;
}

.circle9
{
   height: 9rem;
   width: 9rem;
   border-radius: 5rem;
   border: .1rem solid black;
   background: gray;
}