.video{
    overflow: hidden;
}
.contenido{
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgb(0,0,0,.5)
}
.header{
    font-size: 100px;
    color: #FF2281;
}
